@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-bottom {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.fade-left {
  mask-image: linear-gradient(to right, transparent 0%, black 6%, black 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 6%, black 100%);
}

.fade-bottom-left {
  mask-image: linear-gradient(to right, transparent 0%, black 6%, black 100%), linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 6%, black 100%), linear-gradient(to bottom, black 80%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}


